@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;

    font-size: calc(100vw * 16 / 1512);

    @media only screen and (max-width: 767px) {
      font-size: calc(100vw * 16 / 767);
    }

    @media only screen and (max-width: 479px) {
      font-size: calc(100vw * 16 / 479);
    }
  }
}
